/*
==============
FESTIVAL PAGE!
==============
*/
html.noScroll{
    overflow-y:hidden;
}
*{
    transition:all 0.5s;
    -webkit-transition:all 0.5s;
}
.festival article:first-of-type{
    padding:0;
}
.festival #overlay{
    position: fixed;
    background-color: rgba(0,0,0,.69);
    opacity: 1;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    display:none;
    z-index: 69;
}
.festival #overlay.visible{
    display: block;
}
.festival #overlay #modal{
    width:75%;
    height: 75%;
    background-color: #FfF;
    margin: 7% auto 0 auto;
    padding:4%;
    overflow-y:scroll;

}
#for-modal{
    display:none;
}
.festival #masthead{
    height: 0;
}

.festival #festival-nav{
	background-color: #B49CCA;
	height: 100%;
	font-weight: 700;
    color:#FFF;
    position:relative;
    padding-right:24px;
}
.festival .nav-arrow{
    width:8px;
    height:8px;
    border-top:3px solid #FfF;
    border-right:3px solid #FfF;
    position:absolute;
    right:10px;
    top:19px;
    -webkit-transform:rotateZ(135deg);
}
.festival #festival-nav a{
    width:100%;
    height: 42px;
    color:#FfF;
}
#dropdown{
    background-color: #B49CCA;
    height:150px;
    width:123px;
    position:absolute;
    padding-top:20px;
    left:0;
    opacity: 0;
    margin-top: -100%;
    pointer-events:none;
}
.festival #festival-nav:hover #dropdown{
    opacity: 1;
    margin-top: 0;
    pointer-events:auto;
}
#dropdown a{
    color:#FfF;
}
#dropdown ul{
    width:100%;
    color:#FfF;
    font-weight: 500;
}
#dropdown li{
    color:#FfF;
    font-weight: 500;
}
.festival .navbar ul{
	height: 48px;
}

#attendbutton{
    background-color: #B49CCA;
    color:#FfF;
    font-weight: 700;
    margin-top: 25%;
    width:300px;
}

.festival h2{
    margin-bottom:35px;
}

.festival .center-section{
	width: 100%;
	padding: 50px 20%;
    float:left;
}
.festival .center-section h2{
	text-align: center;
}
.festival .center-section p{
	margin-top:38px;
}
#middle-section{
    padding: 0;
    background-color: #B49CCA;
}
.festival .left-section{
    color:#FfF;
	padding:50px;
	width:50%;
	float:left;
	background-color: #B49CCA;
}

.festival .right-section{
    color:#FFF;
	padding:50px;
	width:50%;
	float:right;
	background-color: #6D6D6D;
}
.festival .right-section a:visited, .festival .left-section a:visited, #attend{
    color:#000;
}
.festivalbutton, a.festivalbutton{
    width:200px;
    background-color: #FfF;
    margin: 20px auto 0 auto;
    border-radius: 6px;
    padding:13px;
    text-align: center;
    color:#333;
    cursor:pointer;
    display:block;
}
#main a.festivalbutton p{
    margin-top: 0;
}
.festivalbutton:hover, #main a.festivalbutton:hover{
    background-color: #e0e0e0;
    color:#333;
}
.festivalbutton img, a.festivalbutton img{
    height: 95%;
    width:auto;
    margin:0 auto;
}

#for-partners{
    color:#FfF;
    background-color: #333333;
    padding:50px;
}
#for-partners h2{
    margin-bottom: 0;
}

.partner-section{
    padding:0;
}
.partner-question{
    padding:75px 50px;
    cursor:pointer;

}
.partner-question h4{
    text-align: center;
}
.partner-question.left-section{
    
}
.partner-question.right-section{
    float: right;
}
.partner-question.tile-1{
    background-color: #B49CCA;
}
.partner-question.tile-2{
    background-color: #A986C9;
}
.partner-question.tile-3{
    background-color: #9F72C9;
}
.partner-question:hover{
    background-color: #6D6D6D;
    color:#FFF;
}

#attend-section{
    background-color: #9F72C9;
    text-align: center;
}
#attend-section a.festivalbutton{
    font-size: 25px;
    width: auto;
    font-weight: 300;
}



#faqs{
    background-color:#FfF;
    width:100%; 
    display:inline-block;
    padding: 40px 0;
    text-align: center;
}

.faq_container{
    background-color:none;
    margin-top:-20px;
    margin-bottom:40px;
    text-align:center;
    z-index: 0;
}

.faq{
    /*background-color:#d05721;*/
    width:35%;
    margin:0.3% 1.2%;
    display:inline-block;
    cursor:pointer;
    text-align:left;
    padding:15px 2%;
    position:relative;
    font-size:1em;
    color:#333;
}
.faq:hover, .answer.expanding ~ .faq{
    /*background-color:#3DBA34;*/
}
.question{
    padding-right:50px;
    padding-top:8px;
    border-top:1px solid;
    color:#9F72C9;
}
.answer{
    transition:all 0.7s; 
    top:0;
    opacity: 0;
    width:100%;
    left:0;
    display:block;
    font-size: 0px;
    margin-top:0;
    color:#333;
    /*height: 0;*/
}
.answer.expanding{
   font-size:inherit;
   margin-top:30px;
}
.answer.expanding + .arrow{
    -webkit-transform:rotateZ(315deg);
}
.answer.visible{
    opacity: 1;
}
.answer.hiding{
    opacity: 0;
}

#triangle-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid black;
    float:right;
    margin-bottom:-0px;
    margin-top:10px;
}


.arrow {
    width:10px;
    height:10px;
    border-top:2px solid #9F72C9;
    border-right:2px solid #9F72C9;
    position:absolute;
    right:30px;
    top:28px;
    -webkit-transform:rotateZ(135deg);
}
.festival footer a{
    color:#B49CCA;
}
@media (max-width: 643px){
    .festival .center-section{
        width: 100%;
        padding: 10px 10px;
        float:left;
    }   
    #attend-section{
        padding:70px;
    }
    .festival .left-section{
        width:100%;
        float:left;
    }

    .festival .right-section{
        color:#FFF;
        padding:50px;
        width:100%;
        float:left;
    }
    .partner-question{
        float: left;
        text-align: center;
        padding:20px;
    }
    .partner-question.left-section h4, .partner-question.right-section h4{
        text-align: center;
    }
    .festival article:first-of-type{
        padding:0;
    }
    .faq{
        width: 100%;
    }
}
}
