/*
==============
FESTIVAL PAGE!
==============
*/
*{
    transition:all 0.7s;
}

.festival #festival-nav{
	background-color: green;
	height: 100%;
	font-weight: 700;
}
.festival .navbar ul{
	height: 48px;
}

.festival .center-section{
	width: 100%;
	height: 100vh;
	padding: 300px;
}
.festival .center-section h2{
	text-align: center;
}
.festival .center-section p{
	margin-top:38px;
}
.festival .left-section{
	padding:100px 50px;
	width:50%;
	height:300px;
	float:left;
	background-color: #e3e3e3;
}
.festival .right-section{
	padding:100px 50px;
	width:50%;
	height:300px;
	float:right;
	background-color: #333333;
}

#header{
    text-align:center;
    margin-top:50px;
    font-size: 50px !important;
    font-weight: 900;
}

#faq_block{
    background-color:rgb(160, 180, 225);
    width:100%; 
    display:inline-block;
}

.faq_container{
    background-color:none;
    margin-top:-20px;
    margin-bottom:40px;
    text-align:center;
}

.faq{
    background-color:rgb(255, 60, 50);
    width:34%;
    margin:30px;
    display:inline-block;
    cursor:pointer;
    text-align:left;
    padding:30px;
    position:relative;
    font-size:18px;
}
.question{
    padding-right:50px;
}
.answer{
    transition:all 0.7s;
    position:absolute; 
    bottom:20px;
    display:none;
}

#triangle-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid black;
    float:right;
    margin-bottom:-0px;
    margin-top:10px;
}


.arrow {
    width:25px;
    height:25px;
    border-top:6px solid white;
    border-right:6px solid white;
    float:right;
    margin-top:-60px;
}

.right { 
    -webkit-transform:rotateZ(135deg);
}